.userWrapper {
    display: flex;
    gap: 20px;
    background-color: aqua;
    border-radius: 15px;
    max-width: 1000px;
    padding: 10px;
    margin: 10px 10px;
    border: solid 1px black;
}
.userAvatar {
    display: flex;
    flex-direction: column;
    width: 20%;
}
.userAvatar img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 2px solid black;
    margin-bottom: 5px;
}
.userDescription {
    display: flex;
    width: 80%;
}
.userNameAndStatus, .userCountryAndCity {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}