.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: gray;
    width: 100%;
}

.header img {
    width: 5%;
}
.loginBlock {
    font-size: 20px;
}
.loginBlock a {
    color: white;
    text-decoration: none;
}
