.profilePicture{
    display: inline-block;
    width: 300px;
    height: 300px;
    border-radius: 50px 10px 50px 10px;
    border: solid 1px black;
    box-shadow: black 10px 15px 30px;
    margin-bottom: 20px;
}
.description {
    padding: 10px;
}