.dialogs {
    display: flex;
    justify-items: flex-start;
}

.dialogsItems {
    border-right: solid 1px black;
    padding: 20px;
    width: 20%;
}

.dialogItem {
    width: 100%;
}
.dialogItem.active {
     color: gold;
}

.messages {
    padding: 20px;
    width: 80%;
}