.dialogs {
    display: flex;
    justify-items: flex-start;
}

.dialogsItems {
    border-right: solid 1px black;
    padding: 20px;
    width: 20%;
}
.messages {
    padding: 20px;
    width: 80%;
}